{% extends "generic.html" %}
{% load static %}

{% block header %} {% include 'partials/header.html' %} {% endblock %}


{% block content %}


{% for division in divisions %}
<div class="container-xxl">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <h3 class="col-lg-3 text-center">{{division.name}}</h3>

                    <div class="col-lg-9 wow fadeIn" data-wow-delay="0.5s">
                        <table class="table">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">Team</th>
                                    <th scope="col">Games</th>
                                    <th scope="col">Win</th>
                                    <th scope="col">Loss</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in division.team_division.all %}
                                <tr>
                                    <td>{{team.name}}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
{% block back_top %} {% endblock %}
{% block footer %} {% endblock %}
{% block footer_js %}
{% include "partials/footer_js.html" %}
<script src="{% static 'js/initial.js' %}"></script>
{% endblock %}
