{% extends "index.html" %}
{% load static %}


{% block header %} {% endblock %}

{% block content %}
<div class="grid-container">
    <div class="bg-info center">
        <img class="center-element" src="{% static 'img/nfl.svg' %}" alt="NFL Logo">
    </div>
    <div class="bg-secondary grid-login">
        <div class="bg-danger initial-option">
            <a href="{% url 'login' %}">
                <img src="{% static 'img/login.svg' %}" width="100" alt="login icon">
                <p class="text-center">Entre em sua conta</p>
            </a>
        </div>

        <div class="bg-primary initial-option">
            <a href="">
                <img src="{% static 'img/signup.svg' %}" width="100" alt="signup icon">
                <p>Crie uma conta</p>
            </a>
        </div>
    </div>
</div>

</div>

</div>
{% endblock %}
{% block back_top %} {% endblock %}
{% block footer %} {% endblock %}
{% block dependencies %} {% endblock %}
