{% extends "generic.html" %}
{% block header %} {% include 'partials/header.html' %} {% endblock %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Division</h2>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Games</th>
                        <th scope="col">Win</th>
                        <th scope="col">Loss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{team.name}}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div style="background-color:{{team.primary_color}};">
                <h1 style="color: {{team.secondary_color}};">{{team.name}}</h1>

                {% if is_start %}
                <a href="">Teste</a>
                {% else %}
                    <button type="submit" class="button-start-season btn-primary">Start the season</button>
                {% endif %}


            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <h1>All Matches</h1>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Week</th>
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                    <tr>
                        <td>{{match.week.name}}</td>
                        <td {% if match.home.name == team.name %} style="background-color: {{team.primary_color}}; color: {{team.secondary_color}};" {% endif %}>{{match.home.name}}</td>
                        <td {% if match.away.name == team.name %} style="background-color: {{team.primary_color}}; color: {{team.secondary_color}}; " {% endif %}>{{match.away.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block back_top %} {% endblock %}
{% block footer %} {%endblock %}
{% block footer_js %} {% include 'partials/footer_js.html' %} {% endblock %}
