.title {
  color: #0dcaf0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 0px;
  min-height: 100vh;
}

.grid-login {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}

.initial-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-option p {
  text-align: center;
  color: #fff;
}

.header-login {
  align-content: flex-start;
  align-items: center;
}

.center-element {
  width: 60%;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-conference {
  max-width: 200px;
  max-height: 150px;
}

.conference-container:hover {
  background-color: #0dcaf0;
}

.team-card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.team-item:hover {
  background-color: #0dcaf0;
}

@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-login {
    grid-template-columns: 1fr;
  }
}
