{% extends "index.html" %}
{% load static %}


{% block header %} {% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-item bg-info image">
        <img class="nfl-logo" src="{% static 'img/nfl.svg' %}" alt="NFL Logo">

    </div>
    <div class="grid-item bg-secondary">
        <p>asd</p>
        <p>asd</p>
        <p>asd</p>
        <p>asd</p>

    </div>

</div>
{% endblock %}
{% block back_top %} {% endblock %}
{% block footer %} {% endblock %}
{% block dependencies %} {% endblock %}
